doctype html
html
    head
        //title youth homelessness dashboard
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='shortcut icon', href='/favicon.ico')
        link(href='/libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')

        //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Interstate')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false")
        script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

        link(rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/ui/1.9.2/jquery-ui.js")

        script(src="http://d3js.org/topojson.v1.min.js")
        script(src="http://d3js.org/d3.v3.min.js")

        //link(href='/libs/bootstrap-slider/bootstrap-slider.min.css', rel='stylesheet')
        //script(src="/libs/bootstrap-slider/bootstrap-slider.min.js")
        //script(type='text/javascript', src='bower_components/modernizr/modernizr.js')

        script.
            var sQuarter = !{JSON.stringify(quarter)}
            var oLaTopo = !{JSON.stringify(topoLa)}
            var mapStyle = !{JSON.stringify(mapStyle)}
            var oEntities = !{JSON.stringify(entities)}
            var oNational = !{JSON.stringify(national)}

        script(src="/javascripts/add_info.js")
        script(src="/javascripts/add_info_text.js")
        script(src="/javascripts/add_data.js")
        script(src="/javascripts/main_map.js")
        script(src="/javascripts/search_address.js")
        script(src="/javascripts/add_modal.js")

        script.
            console.log(oEntities["E06000019"])


    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container#headerContainer
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(target= '_blank' href='http://centrepoint.org.uk/' style="position:fixed;")
                        img#brandImage(src="/images/logo.png")
                        span.h1#brandText
                //#navbar-main.navbar-collapse.collapse
                //    ul#navigate.nav.navbar-navtarget= '_blank'.navbar-right
                //        li
                //            a(href='/local').glyphicon.glyphicon-home
                //        li
                //            a(href='/references').glyphicon.glyphicon-info-sign
                //        li
                    //        a(href="http://goo.gl/c6rzBt") press release
        block content