doctype html
html
    head
        link(rel="stylesheet", href="/webix/webix.css", type="text/css")
        link(rel="stylesheet", href="/stylesheets/webix-style.css", type="text/css")
        script(type="text/javascript", src="/webix/webix_debug.js")
        script(type="text/javascript", src="http://maps.google.com/maps/api/js?sensor=true")
        script(type="text/javascript", src="/javascripts/webix-googlemap.js")
        script(src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="http://d3js.org/topojson.v1.min.js")
        script.
            var sQuarter = !{JSON.stringify(quarter)};
            var oLaTopo = !{JSON.stringify(topoLa)};
            var mapStyle = !{JSON.stringify(mapStyle)};
            var oEntities = !{JSON.stringify(entities)};
            var oNational = !{JSON.stringify(national)};
        script(src="/javascripts/add_data.js")
        script(src="/javascripts/search_address.js")
        script(src="/javascripts/add_modal.js")
        script(src="/javascripts/main_map.js")
        script(type="text/javascript", src="/javascripts/webix-client.js")
        script(type="text/javascript").
            var preLoadFeature = '#{ activeFeature ? activeFeature : "" }';

    body
        // info text for the homelessness data
        div.cp_hidden(id="homelessnessInfoText")
            p 16-24 year olds accepted as eligible, unintentionally homeless and in priority need.
            p This data will not include most single homeless people as they are not classed as in priority need.
            p Where the DCLG has supressed counts of less than 5 they are reported as not available.
            p Where the count is less than 5 we have reported 5.
            p
                a(target="_blank" href='https://www.gov.uk/government/statistical-data-sets/live-tables-on-homelessness#detailed-local-authority-level-responses') Source

        //info text for the missing data.
        div.cp_hidden(id="missingDataInfoText")
            p How many months the local authority has not submitted data on statutory youth homelessness
            p
                a(target="_blank" href='https://www.gov.uk/government/statistical-data-sets/live-tables-on-homelessness#detailed-local-authority-level-responses') Source

        //info text for the unemployment data.
        div.cp_hidden(id="unemploymentInfoText")
            p Count of young people aged 16 to 24 claiming job seekers allowance.
            p
                a(target='_blank', href='https://www.nomisweb.co.uk/query/select/getdatasetbytheme.asp?opt=3&theme=&subgrp') Source

        //info text for risk factors
        div.cp_hidden(id="riskFactorInfoText")
            p Select the factors related to youth homelessness that you want to map and see which areas are most affected.

        div.cp_hidden(id="noFeatureData")
            p Click on a region of the map to see details of the population.

        div.cp_hidden(id="initialPopupText")
            p Select data to show from the side bar.
            p Or click on your local area on for more details.


        div.cp_hidden(id="homelessKeyText")
            div(style='height:300px; overflow:auto')
                div(style='height:300px')
                    p The local authorities were ranked according to their reported rate of offical youth homelessness.
                    p The dark red category refers to the 20% of authorities with the highest levels of youth homelessness.
                    p The light pink category refers to the 20% of authorities with the lowest levels of youth homelessness.
                    p The colours in between refer to three intervening fifths of local authorities.
                    p And white means there was no data available.

        div.cp_hidden(id="missingKeyText")
            p How many months of official youth homelessness data are missing.
            p Dark red means the local authority has 12 months of missing data.
            p White means the local authority's data is up to date.
            p The colors in between from dark to light are 9, 6 and 3 months of missing data.

        div.cp_hidden(id="unemploymentKeyText")
            p The local authorities are ranked according to the rate of young people claiming Jobseekers Allowance.
            p The dark red category refers to the 20% of authorities with the highest claiment counts.
            p The light pink category refers to the 20% of authorities with the lowest claiment counts.
            p The colours in between refer to claiment counts in the three intervening fifths.
            p And white means there was no data available.

        div.cp_hidden(id="riskFactorsKeyText")
            p The local authorities are ranked for each of the related factor that has been selected.
            p An average rank is then calculated for the selected factors.
            p The worst 20% category refers to authorities that on average rank in the worst 20%.
            p The best 20% category refers to authorities that on average rank in the best 20%.
            p The colours in between refer to averages in the three intervening fifths.
            p And white means there was no data available.

